*

!.gitignore
!Changelog.bat
!CMakeLists.txt
!polyglot_build.bat
!README.md

!/cmake/
!/cmake/*

!/mmcshelper_webextension/
!/mmcshelper_webextension/*

!/resources/
!/resources/*

!/src/
!/src/*

!/uwp/
!/uwp/mmcs.sln
!/uwp/mmcs/
!/uwp/mmcs/Assets/
!/uwp/mmcs/Assets/*
!/uwp/mmcs/*.xaml
!/uwp/mmcs/*.cpp
!/uwp/mmcs/*.hpp
!/uwp/mmcs/*.h
!/uwp/mmcs/Package.appxmanifest
!/uwp/mmcs/mmcs.vcxproj
!/uwp/mmcs/mmcs.vcxproj.filters

