
#include "win32_resource.h"
#include <Windows.h>

IDI_MMCS_ICON ICON "mmcs.ico"


IDM_MAIN_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New Tab\tCtrl+T",    IDM_FILE_NEW_TAB
		MENUITEM "Open Files...",      IDM_FILE_OPEN_FILES
		MENUITEM "Open Folders...",    IDM_FILE_OPEN_FOLDERS
		MENUITEM SEPARATOR
		MENUITEM "Exit",               IDM_FILE_EXIT
	END
	POPUP "Edit"
	BEGIN
		MENUITEM "Test",   IDM_EDIT_TEST
	END
	POPUP "View"
	BEGIN
		MENUITEM "Toggle Dark Mode", IDM_VIEW_TOGGLE_DARK_MODE, CHECKED
	END
	POPUP "Help"
	BEGIN
		MENUITEM "Website",     IDM_HELP_WEBSITE
		MENUITEM "Github",      IDM_HELP_GITHUB
		MENUITEM "Changelog",   IDM_HELP_CHANGELOG
		MENUITEM SEPARATOR
		MENUITEM "Register As Default for Media",  IDM_HELP_REGISTER_AS_DEFAULT
		MENUITEM SEPARATOR
		MENUITEM "About MMCS",  IDM_HELP_ABOUT
	END
END

IDM_TAB_MENU MENU
BEGIN
	POPUP "ContextMenu"
	BEGIN
		MENUITEM "New Tab",   IDM_FILE_NEW_TAB
		MENUITEM SEPARATOR
		MENUITEM "Close Tab", IDM_CLOSE_TAB
	END
END


IDD_REGISTER_AS_DEFAULT DIALOGEX 0, 0, 131, 66
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
EXSTYLE WS_EX_APPWINDOW
CAPTION "Register As Default for..."
FONT 11, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	DEFPUSHBUTTON   "OK",IDOK,10,50,50,13
	PUSHBUTTON      "Cancel",IDCANCEL,71,50,50,13
	CONTROL         "JPG",IDC_JPG,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,10,29,10
	CONTROL         "WEBM",IDC_WEBM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,51,10,36,10
	CONTROL         "MP4",IDC_MP4,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,10,29,10
	CONTROL         "PNG",IDC_PNG,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,31,29,10
	CONTROL         "MKV",IDC_MKV,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,31,29,10
	CONTROL         "GIF",IDC_GIF,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,51,31,27,10
END


IDD_CHANGELOG DIALOGEX 0, 0, 207, 136
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP | WS_CAPTION | WS_VSCROLL | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_CLIENTEDGE
CAPTION "Changelog"
FONT 10, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    EDITTEXT        IDC_EDIT1,4,4,189,131,ES_MULTILINE | ES_READONLY
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_VERSION
PRODUCTVERSION  VER_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // U.S. English (0x409) & 1252 Codepage (0x4E4 | 1252)
		BEGIN
			VALUE "CompanyName",      VER_COMPANYNAME_STR
			VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
			value "FileVersion",      VER_VERSION_STR
			VALUE "InternalName",     VER_INTERNALNAME_STR
			VALUE "LegalCopyright",   VER_LEGALCOPYRIGHT_STR
			VALUE "LegalTrademarks",  VER_LEGALTRADEMARKS_STR
			VALUE "OriginalFilename", VER_ORIGINALFILENAME_STR
			VALUE "ProductName",      VER_PRODUCTNAME_STR
			VALUE "ProductVersion",   VER_VERSION_STR
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		// U.S. English (0x409) & 1252 Codepage (0x4E4 | 1252)
		VALUE "Translation", 0x409, 1252
	END
END
