
#include "win32_resource.h"
#include <Windows.h>

IDI_MMCS ICON "../resources/mmcs.ico"


IDR_MW_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New Tab\tCtrl+T",     IDM_NEW_TAB
		MENUITEM "Open &Files...",       IDM_OPEN_FILES
		MENUITEM "Open &Directories...", IDM_OPEN_DIRS
		MENUITEM SEPARATOR
		MENUITEM "Exit",                 IDM_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Test",   IDM_TEST
	END
	POPUP "&View"
	BEGIN
		MENUITEM "Toggle Dark Mode", IDM_TOGGLE_DARK_MODE, CHECKED
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "Website",     IDM_WEBSITE
		MENUITEM "Github",      IDM_GITHUB
		MENUITEM "Changelog",   IDM_CHANGELOG
		MENUITEM SEPARATOR
		MENUITEM "Register As Default for Media",  IDM_REGISTER_AS_DEFAULT
		MENUITEM SEPARATOR
		MENUITEM "About MMCS",  IDM_ABOUT
	END
END

IDR_TAB_MENU MENU
BEGIN
	POPUP "ContextMenu"
	BEGIN
		MENUITEM "New Tab",   IDM_NEW_TAB
		MENUITEM SEPARATOR
		MENUITEM "Close Tab", IDM_CLOSE_TAB
	END
END

IDR_MW_ACCEL ACCELERATORS 
BEGIN
	"t", IDM_NEW_TAB,   CONTROL, VIRTKEY ; Ctrl+t
	"w", IDM_CLOSE_TAB, CONTROL, VIRTKEY ; Ctrl+w
END

IDD_REGISTER_AS_DEFAULT DIALOGEX 0, 0, 131, 66
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
EXSTYLE WS_EX_APPWINDOW
CAPTION "Register As Default for..."
FONT 11, "MS Shell Dlg", 400, 0, 0x1
BEGIN
	DEFPUSHBUTTON   "OK",IDOK,10,50,50,13
	PUSHBUTTON      "Cancel",IDCANCEL,71,50,50,13
	CONTROL         "JPG",IDC_JPG,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,10,29,10
	CONTROL         "WEBM",IDC_WEBM,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,51,10,36,10
	CONTROL         "MP4",IDC_MP4,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,10,29,10
	CONTROL         "PNG",IDC_PNG,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,31,29,10
	CONTROL         "MKV",IDC_MKV,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,31,29,10
	CONTROL         "GIF",IDC_GIF,  "Button",BS_AUTOCHECKBOX | WS_TABSTOP,51,31,27,10
END


VS_VERSION_INFO VERSIONINFO
FILEVERSION     MMCS_YEAR,MMCS_MONTH,MMCS_DAY,MMCS_HOUR
PRODUCTVERSION  MMCS_YEAR,MMCS_MONTH,MMCS_DAY,MMCS_HOUR
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4" // U.S. English (0x409) & 1252 Codepage (0x4E4 | 1252)
		BEGIN
			VALUE "CompanyName",      "mlfaw"
			VALUE "FileDescription",  "MMCS - media viewer and tagger"
			VALUE "InternalName",     "MMCS - My Media Categories Suite"
			VALUE "ProductName",      "MMCS - My Media Categories Suite"
			VALUE "LegalCopyright",   "Copyright (c) mlfaw"
			VALUE "LegalTrademarks",  "All Rights Reserved"
			VALUE "OriginalFilename", "mmcs.exe"
			value "FileVersion",      MMCS_VERSION_DOTS
			VALUE "ProductVersion",   MMCS_VERSION_DOTS
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		// U.S. English (0x409) & 1252 Codepage (0x4E4 | 1252)
		VALUE "Translation", 0x409, 1252
	END
END
